<!DOCTYPE html>
<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" >
    <div class = "container">
      <img src="images/Banner.png" style="width:100%;"/>
      <div class ="top-right"><h1>WaitingRoom</h1></div>
    </div>
  </div>
</head>
<pre>

</pre>
  <p>
    Enter your location below:
  </p>
<div class="row">
    <div class="input-group">
      <input type="text" id = "textbox1"class="form-control" placeholder ="Location">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id = "button1">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<pre>

</pre>
<p>
  Service options:
</p>
<div class = "test">
<ul class="list-group">
<button type="button" class="btn btn-success">
  Hospital 1  <span class="badge badge-pill badge-light">7</span>
</button>
</ul>

<ul class="list-group">
<button type="button" class="btn btn-primary">
    Hospital 2  <span class="badge badge-pill badge-light">7</span>
</button>
</ul>

<ul class="list-group">
<button type="button" class="btn btn-danger">
    Hospital 3  <span class="badge badge-pill badge-light">7</span>
</button>
</ul>
</div>
<div class="popup" onclick="myFunction()">Click me!
  <span class="popuptext" id="myPopup">Popup text...</span>
</div>
<body>
<script name = "testScript">
  document.getElementById("button1").onclick = function(){
    document.getElementsByClassName("test")[0].style.visibility = "visible";
    var text = document.getElementById("textbox1").value;

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            alert(xhr.responseText);
        }
    }
    var thisUrl = document.URL;
    console.log(thisUrl);
    xhr.open("POST", thisUrl+'click', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
        'test': text
    }));
  }

</script>
