<!DOCTYPE html>
<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
</head>
  <p>
    Enter your location below:
  </p>
<div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder ="Location">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id = "button1">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<pre>

</pre>
<p>
  Service options:
</p>
<ul class="list-group">
  <li class="list-group-item">Hospital 1</li>
  <li class="list-group-item">Hospital 2</li>
  <li class="list-group-item">Hospital 3</li>
  <li class="list-group-item">Hospital 4</li>
  <li class="list-group-item">Hospital 5</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Hospital 1
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">1</span>
    Hospital 2
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">6</span>
    Hospital 3
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">8</span>
    Hospital 4
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">4</span>
    Hospital 5
  </li>
</ul>

<body>
<script name = "testScript">
  document.getElementById("button1").onclick = function(){
    var json = $.getJSON('http://query.yahooapis.com/v1/public/yql?q=select%20%2a%20from%20yahoo.finance.quotes%20WHERE%20symbol%3D%27WRC%27&format=json&diagnostics=true&env=store://datatables.org/alltableswithkeys&callback', function(data) {
    //data is the JSON string
    console.log(json);
});
  }
</script>
