<!DOCTYPE html>
<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
</head>
  <p>
    Enter your location below:
  </p>
<div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder ="Location">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id = "button1">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<pre>

</pre>
<p>
  Service options:
</p>

<ul class="list-group">
  <button type="button" class="btn btn-success">Hospital 1 <span class="btn-badge">7</span></button>
</ul>
<pre>

</pre>
<ul class="list-group">
  <button type="button" class="btn btn-danger">Hospital 2 <span class="btn-badge">4</span></button>
</ul>

<body>
<script name = "testScript">
  document.getElementById("button1").onclick = function(){
    alert("hey");
  }


</script>
