<!DOCTYPE html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
</head>
  <p>
    Enter your location below:
  </p>
<div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder ="Location">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id = "button1">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<p>

  Service options:

</p>
<ul class="list-group">
  <li class="list-group-item">Hospital 1</li>
  <li class="list-group-item">Hospital 2</li>
  <li class="list-group-item">Hospital 3</li>
  <li class="list-group-item">Hospital 4</li>
  <li class="list-group-item">Hospital 5</li>
</ul>

<body>
<script name = "testScript">
  document.getElementById("button1").onclick = function(){
    console.log('hello world');

    alert('hello');
  }
</script>
