<!DOCTYPE html>
<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
</head>
  <p>
    Enter your location below:
  </p>
<div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder ="Location">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id = "button1">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<pre>

</pre>
<p>
  Service options:
</p>
<ul class="list-group">
  <li class="list-group-item">Hospital 1</li>
  <li class="list-group-item">Hospital 2</li>
  <li class="list-group-item">Hospital 3</li>
  <li class="list-group-item">Hospital 4</li>
  <li class="list-group-item">Hospital 5</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Hospital 1
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">1</span>
    Hospital 2
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">6</span>
    Hospital 3
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">8</span>
    Hospital 4
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">4</span>
    Hospital 5
  </li>
</ul>

<body>
<script name = "testScript">
  var getJSON = function(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', url, true);
      xhr.responseType = 'json';
      xhr.onload = function() {
        var status = xhr.status;
        if (status === 200) {
          callback(null, xhr.response);
        } else {
          callback(status, xhr.response);
        }
      };
      xhr.send();
  };

  document.getElementById("button1").onclick = function(){
    var json = getJSON("http://maps.googleapis.com/maps/api/geocode/json?address=queens", function(req, err){

    });
  }


</script>
